@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
}

.app-container:not(.dark) .app-background {
  position: relative;
  background-color: #eee;
}

.app-container.dark .app-background {
  position: relative;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #8888;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
